* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.instagram-account .login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;

    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;  
}

.profile-photo img {
    height: 6rem;
}

#continue-login {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    padding: 0.5rem 0.7rem;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#remove-account {
    background-color: white;
    color: dodgerblue;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.instagram-account .switch-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.not-account {
    color: rgb(160, 160, 160);
    padding: 0.24rem;
}

.link-blue {
    color: dodgerblue;
    font-weight: bold;
}

.get-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.get {
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.download img {
    height: 3rem;
    padding: 0 0.2rem;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-account .login, .instagram-account .switch-account {
        border: none;
    }
    
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-account {
        width: 100%;
    }
}








